@include tablet {
  .seccion-inferior {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 2rem;
  }
}

.entrada-blog {
  margin-bottom: 2rem;
  @include tablet {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}

.informacion-meta {
  span {
    color: $amarillo;
  }
}

.text-entrada {
  h4 {
    margin: 0;

    &::after {
      content: "";
      background-color: $verde;
      width: 15rem;
      height: 5px;
      display: block;
    }
  }
  p {
    line-height: 1.4;
  }
  a {
    color: $negro;
    display: block;
    margin-top: 10rem;
    @include tablet {
      margin-top: 0;
    }
  }
  span {
    color: $amarillo;
  }
}
